<nav class="nav">
    <div class="user-details">
        <img class="user-details__icon user-details__icon--profile" alt=""
             src="{{ asset('build/images/1234567890.jpg') }}">
        <div class="user-details__text">
            <h2 class="user-details__name">Oskar Barcz</h2>
            <span class="user-details__role">Administrator</span>
        </div>
        <a class="user-details__icon fas fa-cog" title="Ustawienia aplikacji" href=""></a>
        <a class="user-details__icon user-details__icon--logout fas fa-sign-out-alt" title="Wyloguj" href=""></a>
    </div>
</nav>