<div class="panel">
    <div class="panel__app-informations">
        <img class="panel__logo" src="{{ asset('media/logo.svg') }}" alt="Application logo">
        <h2 class="panel__title">Project Spartan</h2>
    </div>
    <div class="panel__projects">
        <a href="" class="project project--ok">
            <div class="project__text">
                <h3 class="project__title">
                    <span class="project__status project__status--ok"></span>
                    Projekt OK
                </h3>
                <span class="project__detail">https://www.archi-tektur.pl</span>
            </div>
            <div class="project__actions">
                <span class="project__icon project__icon--edit fas fa-cog"></span>
                <span class="project__icon project__icon--delete fas fa-trash"></span>
            </div>
        </a>
        <a href="" class="project project--warning project--selected">
            <div class="project__text">
                <h3 class="project__title">
                    <span class="project__status project__status--warn"></span>
                    Projekt nie OK
                </h3>
                <span class="project__detail">https://www.archi-tektur.pl</span>
            </div>
            <div class="project__actions">
                <span class="project__icon project__icon--edit fas fa-cog"></span>
                <span class="project__icon project__icon--delete fas fa-trash"></span>
            </div>
        </a>
        <a href="" class="project project--error">
            <div class="project__text">
                <h3 class="project__title">
                    <span class="project__status project__status--danger"></span>
                    Projekt z błędem
                </h3>
                <span class="project__detail">https://www.archi-tektur.pl</span>
            </div>
            <div class="project__actions">
                <span class="project__icon project__icon--edit fas fa-cog"></span>
                <span class="project__icon project__icon--delete fas fa-trash"></span>
            </div>
        </a>
        <a href="" class="project project--archived">
            <div class="project__text">
                <h3 class="project__title">
                    <span class="project__status project__status--archived"></span>
                    Projekt archiwizowany
                </h3>
                <span class="project__detail">https://www.archi-tektur.pl</span>
            </div>
            <div class="project__actions">
                <span class="project__icon project__icon--edit fas fa-cog"></span>
            </div>
        </a>
    </div>
</div>